body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  background-color: #f1f1f1;
  margin: 0;
  padding: 20px;
  text-align: center;
}

form {
  margin: 20px;
  text-align: center;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  margin-right: 10px;
  padding: 5px;
}
